html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
  body {
  background-color: #f2f5fa;
  background-position: top center;
  background-repeat: no-repeat;
  color: #84878d;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: normal; }
a {
  background: transparent; }
  a:focus {
    outline: thin; }
  a:hover, a:active {
    outline: 0;
    text-decoration: none;
    color: #343a40; }
a {
  text-decoration: none;
  color: #28a745; }
p {

    text-align: left;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}
.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2c3e50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}
/*p.test2 {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}*/
.container-t{
  margin-top: 94px;
}
.menu{
  box-shadow: 8px 8px 5px grey;
}
.button {
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}
.container-height{
  background-color: #c9c7c9;
}
.button:hover {background-color: }

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.arrow li {
    padding: 10px 0;
    border-bottom: 1px solid #d7d8da; }
    .arrow li:last-child {
      border-bottom: none; }
  .arrow {
    font-size: 15px;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    text-align: center; }
    .arrow a {
    	
      -webkit-transition: .3s ease;
              transition: .3s ease; }
      .arrow a:hover {
        color: #84878d; }

.example {
  
  width: 220px;
  height: 240px;

  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scro {
  
  width: 400px;
  height: 240px;

  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scro::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scro {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.item {
  /* because span cant be animated */
  display: block;
  color: yellow;
  font-size: 2rem;
  box-shadow: 8px 8px 5px grey;
}

.item.active {
  animation: spin 1s forwards;
  animation-timing-function: ease-in-out;
}

.item.in-active {
  animation-direction: reverse;
}
  
/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: #4CAF50;
}

#blog {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#projects {
  top: 140px;
  background-color: #f44336; /* Red */
}

#contact {
  top: 200px;
  background-color: #555 /* Light Black */
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
 /* width: 300px;*/
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #28a745;
  color: white;
  transform: rotateY(180deg);
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
/* Style inputs */
/*input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
*/
/*input[type=submit] {
  background-color: #28a745;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #28a745;
}*/

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


input[type=text] {
  width: 130px;
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/*input[type=text]:focus {
  width: 50%;
}*/
.checked {
  color: orange;
}


.slider{
  margin: 10px auto;
  width: 95%;
}
.popular-movies{
  overflow: hidden;
}
.popular-movies:hover{
  
  
}
.movie-container{
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.movie-container:hover .image-effect{
  animation-play-state: paused;
}
.image-effect{
  animation: movie-slider 13s  infinite alternate linear;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@keyframes movie-slider{
  0%{margin-left: 0%;}
  100%{margin-left: -100%;}
  0%{margin-right: -100%;}
  100%{margin-right: 10%;}
}
.image-effect img{
  transition: all 300ms;
  -webkit-transition: all 300ms;
}
.image-effect:hover img{
  opacity: .5;

  transition: all 300ms;
  -webkit-transition: all 300ms;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.movie-image{
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 200px;
}
.movie-info{
  cursor: pointer;
  bottom: 0;
  display: none;
  height: 300px;
  justify-content: center;
  position: absolute;
  transition: all .5s;
  -webkit-transition: all .5s;
  width: 200px;
}
.movie-title{
  background: rgba(255,55,55,.8);
  border-radius: 3px;
  margin:10px;
  text-align: center;
  color: #fff;
}
.movie-title:hover{
  background: #ff4848;
}
.movie-sinopsis{
  margin: auto;
  text-align: justify;
  width: 95%;
}
.links{
  display: flex;
  justify-content:space-around;
}
.watch,.down{
  background: rgba(0, 128, 0, 0.8);
  border-radius: 3px;
  margin: 10px;
  padding: 8px;
}
.watch:hover{
  background: #22e322;
}
.down:hover{
  background: #22e322;
}
.movie-image:hover .movie-info{
  display: block;
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}



.icon:hover a{
  background: #dc3545;

}

.zoom {
  transition: transform .2s; /* Animation */  
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }


.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.fa1{
  background-color: red;
}



.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.top-right {
  position: absolute;
  top: 0px;
  right: 0px;
}